@keyframes appear{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.error{
  color: red;
  font-size: 1.5rem;
}

.success{
    color: green;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 auto;
}