$fontTitle: Impact, 'Lato', sans-serif;
$fontHeaders: 'Lato', Arial, sans-serif;
$fontText: 'Roboto', Arial, sans-serif;
$primaryColor: #212121;
$colorLabel: #333;
$colorBorder: #bdbdbd;
$colorFocus: #4CAF50;
$colorPlaceholder: #999;